<script setup lang="ts">
import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem';
import ProductList from '@/components/ProductList.vue';
import { ref } from 'vue';

const products1: Product[] = [
    { id: 1, name: 'Hot Latte', price: 35.00, type: 1 },
    { id: 2, name: 'Iced Latte', price: 45.00, type: 1 },
    { id: 3, name: 'Vanilla Latte', price: 55.00, type: 1 },
    { id: 4, name: 'Coacoa', price: 40.00, type: 1 },
    { id: 5, name: 'Chocolate', price: 30.00, type: 1 },
    { id: 6, name: 'Americano', price: 65.00, type: 1 },
    { id: 7, name: 'Green tea', price: 35.00, type: 1 },
    { id: 8, name: 'Thai tea', price: 50.00, type: 1 },
    { id: 9, name: 'Black coffee', price: 55.00, type: 1 },
]
const products2: Product[] = [
    { id: 1, name: 'Hot Latte', price: 35.00, type: 2 },
    { id: 2, name: 'Iced Latte', price: 45.00, type: 2 }
]
const products3: Product[] = [
    { id: 1, name: 'Hot Latte', price: 35.00, type: 3 },
    { id: 2, name: 'Iced Latte', price: 45.00, type: 3 },
    { id: 3, name: 'Vanilla Latte', price: 55.00, type: 3 }
]
const tab = ref(1)
const selected = (p: Product) => {
    console.log('ProductView' + p);
    addReceiptItem(p)
}
const receiptItems = ref<ReceiptItem[]>([])

function addReceiptItem(product: Product) {
    const newReceipt: ReceiptItem = {
        id: -1,
        name: product.name,
        price: product.price,
        unit: 1,
        productId: product.id,
        product: product
    }
    receiptItems.value.push(newReceipt)
}

</script>

<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color:  blue;">
                <v-container style="padding: 0%;">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-width="500" max-width="600" height="300" elevation="6" class="overflow-auto">
                                <v-table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Unit</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) of receiptItems" :key="item.id">
                                            <th>{{index + 1}}</th>
                                            <th>{{item.name}}</th>
                                            <th>{{item.price}}</th>
                                            <th>{{item.unit}}</th>
                                            <th>{{item.unit * item.price}}</th>
                                            <th>X</th>
                                        </tr>
                                    </tbody>
                                </v-table>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="100" elevation="6"></v-sheet>
                        </v-col>

                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                    </v-row>

                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color:  red;">
                <v-sheet min-width="300" max-width="600" height="650" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">Drink</v-tab>
                        <v-tab :value="2">Dessert</v-tab>
                        <v-tab :value="3">Food</v-tab>
                    </v-tabs>

                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>

        </v-row>
    </v-container>
</template>